.tiptap p.is-editor-empty:first-child::before {
  color: theme("colors.muted.foreground");
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap.ProseMirror {
  outline: none;
  border: 1px solid theme("colors.border");
  border-radius: 10px;
  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 40px; */
  padding: 12px 100px 12px 20px;
}
